<h1>Login</h1>

<p><%=  link_to "Create Account", new_user_path  %></p>

<%= form_for(:session, url: login_path) do |f| %>

  <%= f.label :username, "Username" %>
  <%= f.text_field :username %>

  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>

  <%= f.submit "Login" %>

<% end %>
