<% if @cart.nil? %>
  No current items
  <% else %>
    <% quantity_range = 1..20 %>

    Cart items:
    <br>
    <% @cart_items.each do |cart_item| %>
      <%= image_tag cart_item.image_path %>
      <br>
      Title: <%= cart_item.title %>
      <br>
      Description: <%= cart_item.description %>
      <br>
      Price: <%= cart_item.price %>
      <br>
      Weight:<%= cart_item.weight %>
      <br>
      Quantity: <%= cart_item.quantity %>
      <br>
      Subtotal: <%= cart_item.subtotal_price %>
      <%= link_to "Remove", cart_path(id: cart_item.id), method: :delete %>

      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Quantity
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% quantity_range.each do |quantity| %>
              <li><%= link_to quantity, cart_path(id: cart_item.id, quantity: quantity), method: :patch %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

      <br>
      Total Price: <%= @cart.total_price %>
        <br>
      Weight Total: <%= @cart.total_weight %>
        <br>
<% end %>
