<% if @cart.nil? %>
  No current items
  <% else %>
    <% quantity_range = 1..20 %>
    Cart items:
    <br>
    <% @items.each do |item| %>
      <%= image_tag item.image_path %>
      <br>
      Title: <%= item.title %>
      <br>
      Description: <%= item.description %>
      <br>
      Price: <%= item.price %>
      <br>
      Weight:<%= item.weight %>
      <br>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Quantity
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% quantity_range.each do |quantity| %>
              <li><a href="#"> <%= quantity %></a></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% total_price = @items.reduce(0) do |sum, item| %>
      <% sum + item.price %>
    <% end %>
    <% total_weight = @items.reduce(0) do |sum, item| %>
      <% sum + item.weight %>
    <% end %>
      <br>
      Price Total: <%= total_price %>
        <br>
      Weight Total: <%= total_weight %>
        <br>
<% end %>
