<% if @cart.nil? %>
No current items
<% else %>
<% quantity_range = 1..20 %>

<div class="panel panel-primary">
  <h2 class="text-center">Cart items: </h2>
</div>
<br>

<div class="row">
<div class="container col-md-8">
  <% @cart_items.each do |cart_item| %>

  <div class="media">
    <div class="media-left .pull-left">
      <%= image_tag cart_item.image_path, :class => "media-object"%>
    </div>
    <div class="media-body .pull-right">
      <div class="panel panel-primary">
      <div class="panel panel-body">
          <h3 id="title" class="media-heading"><%=link_to cart_item.title, cart_path(cart_item) %></h3>
          <div id="description"><%= cart_item.description %></div>
          <hr>
          <div id="weight">Item Weight: <%= cart_item.weight %>lbs   -  Total Item Weight: <%= cart_item.subtotal_weight %>lbs</div>
          <hr>
          <div id="price"><strong>Unit Price: $<%= cart_item.price %></strong></div>
          <hr>
          <div><strong>Subtotal: $<%= cart_item.subtotal_price %></strong></div>
        </div>
      </div>
      </div>
        <div class="media-right .pull-right">
          <div id="butts" class="dropdown">
            <button class="btn btn-primary dropdown-toggle active" type="button" data-toggle="dropdown"> Qty: <%= cart_item.quantity %>
              <span class="caret"></span></button>
              <ul class="dropdown-menu scrollable-menu">
                <div id="butts" type="button"><%= link_to "Remove", cart_path(id: cart_item.id), method: :delete, class:"btn btn-primary active" %></div>
                <% quantity_range.each do |quantity| %>
                <li><%= link_to quantity, cart_path(id: cart_item.id, quantity: quantity), method: :patch %></li>
                <% end %>
              </div>
          </div>
          </ul>
      <% end %>
    </div>
  </div>
      <div class="panel panel-primary">
        <br>
        <h3 class="text-center">Pick Up Time Reservation</h3>
        <br>
        <h2 class="text-center">Order Totals</h2>
        <h4 class="text-center">Total Price: $<%= @cart.total_price %>.00</h4>
        <h4 class="text-center">Weight Total: <%= @cart.total_weight %> lbs</h4>
        <br>
        <div class="text-center"><%= link_to "Checkout", orders_path, method: :post, class:"btn btn-primary active" %></div>
        <% end %>
      </div>
