<h1> Edit Item: <%= @item.title %> </h1>

<div class="well well-sm">
  <%= form_for(@item, url: user_items_path(user_slug: current_user.slug, id: @item)) do |f| %>
  <div class="container">
    <%= f.label :title, "Title", class: "text-center" %>
    <%= f.text_field :title, placeholder: "Enter Title", class: "form-control" %>
    <br>
    <%= f.label :description, "Description", class: "text-center" %>
    <%= f.text_field :description, placeholder: "Enter Description", class: "form-control" %>
    <br>
    <%= f.label :image_path, "Image Path", class: "text-center" %>
    <%= f.text_field :image_path, placeholder: "Enter Image Path", class: "form-control" %>
    <br>
    <%= f.label :starting_bid, "Starting Bid", class: "text-center" %>
    <%= f.text_field :starting_bid, placeholder: "Enter Starting Bid", class: "form-control" %>
    <br>
    <%= f.label :expiration_time, "Expiration Time", class: "text-center" %>
    <%= f.text_field :expiration_time, placeholder: "Enter Expiration Time", class: "form-control" %>
    <br>
    <%= f.submit "Create Item", class: "btn btn-default btn-block" %>
  </div>
  <br>
  <% end %>
</div>
