<% if @user.role == "default" %>
<div class="well">
  <%= link_to "Apply to Become Seller", request_path, method: :put %>
</div>
<% end %>

<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Profile Information</a></li>
    <li><a href="#tabs-2">Items for Sale</a></li>
    <li><a href="#tabs-3">Previous Orders</a></li>
  </ul>
  <div id="tabs-1">
    <div class="panel panel-primary">
      <h1 class="text-center">User Dashboard</h1>
    </div>


    <div class="panel panel-primary">
      <p class="text-center"><strong>Welcome <%= @user.username  %></strong></p>
      <p class="text-center">Email: <%= @user.email %> </p>
    </div>

      <div class="col-md-8-col-md-offset-2 text-center">
    <% if current_user.role == "seller" || current_user.role == "platform_admin" %>
    <%= button_to "Add Item", new_user_item_path(@user.slug),  method: :get, class: "btn btn-primary" %>
    <% end %>
  </div>
  </div>

  <div id="tabs-2">
    <h3 class="text-center"><%= @user.username %>'s items for sale: </h3>
    <% @user.items.each do |item| %>
    <% if item.active? %>
    <div class="row">
      <div class="container col-md-8 col-md-offset-2">
        <h3 class="text-center"> <%=link_to item.title, user_item_path(user_slug: item.user.slug, id: item.id) %></h3>
        <div class="text-center"><%= item.description %></div>
            <h5 class="text-center">Current Bid: <%= item.starting_bid %></h5>
        <% if item.buyout_price %>
        <div class="text-center"> Buyout Price: <%= item.buyout_price %> </div>
        <% end %>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>

  <div id="tabs-3">
    Previous Orders:
    <% @user.orders.each do |order| %>
    <div class="well">
      <div class="container">
        <div class="col-md-11">
        <h1 class="text-center">Order Number <%= order.id %></h1>
        <div>
          <div class=" table-responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price/Unit</th>
                <th>Total Price</th>
                <% order.order_items.each do |order_item| %>
                <tr>
                  <td> <%= order_item.item.title %> </td>
                </tr>
                <% end %>
              </thead>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
