<div class="row">
  <div class="container col-md-8">
    <% @items.each do |item| %>

    <div class="media">
      <div class="media-left .pull-left">
        <%= image_tag item.image_path, :class => "media-object"%>
      </div>
      <div class="media-body .pull-right">
        <h3 id="title" class="media-heading"><%=link_to item.title, item_path(item) %></h3>
        <div id="description"><%= item.description %></div>
        <div id="weight">Weight: <%= item.weight %>lbs</div>
        <div id="price"><strong>$<%= item.price %></strong></div>
      </div>
    <div class="media-right .pull-right">
      <div><%= link_to "Add to Cart", cart_path(id: item.id), class: "btn btn-primary btn-lg active", method: :post %></div>
    </div>
    <% end %>
  </div>
</div>
