<div class="well">
  <div class="container">
    <h1 class="text-center">Order Number <%= @order.id %></h1>
    <div>
      <table class="table table-bordered table-striped">
        <thead>
          <th>Item</th>
          <th>Quantity</th>
          <th>Weight/Unit</th>
          <th>Price/Unit</th>
          <th>Total Weight</th>
          <th>Total Price</th>
          <% @order.order_items.each do |order_item| %>
          <tr>
            <td> <%= order_item.item.title %> </td>
            <td> <%= order_item.quantity %> </td>
            <td> <%= order_item.item.weight %> </td>
            <td> <%= order_item.item.price %> </td>
            <td> <%= order_item.item.weight * order_item.quantity %> </td>
            <td> <%= order_item.item.price * order_item.item.price %> </td>
          </tr>
          <% end %>
        </thead>
      </table>
    </div>
  </div>
</div>
