<div class="text-center"><h1>All Items</h1></div>

<!-- <div class="row">
<% @items.each do |item| %>
  <div class="col-md-3 item-show" >
    <p class="text-center"><%= image_tag item.image_path %></p>
    <h3 id="title" class="text-center"><%= link_to item.title, item_path(item) %></h3>
    <p id="price" class="text-center">$<%= item.price %></p>
    <p id="description" class="text-center"><%= item.description %></p>
  </div>
<% end %>
</div> -->
<div class="row">

  <div class="container col-md-8">

    <% @items.each do |item| %>

    <div class="media">
      <div class="media-left .pull-left">
        <!-- <a><%= image_tag item.image_path %> -->
        <%= image_tag item.image_path, :class => "media-object"%>
        <!-- </a> -->
      </div>
      <div class="media-body .pull-right">
        <h3 id="title" class="media-heading"><%=link_to item.title, item_path(item) %></h3>
        <div id="description"><%= item.description %></div>
        <div id="price"><strong>$<%= item.price %></strong></div>
      </div>
    </div>
    <% end %>

  </div>

</div>
