<div class="well">
<div class="row">
  <div class="container col-md-8 col-md-offset-2">
    <h3 class="text-center"> <%=link_to @item.title, item_path(@item) %></h3>
    <div class="text-center"><%= @item.description %></div>

    <form>
      <div class="form-group">
        <h4><label for="expiration_time">Expiration Date <%= @item.expiration_time.strftime("%m-%d-%Y") %></label></h4>
        <h4>Countdown Till Bidding Ends <div data-countdown= <%= @item.expiration_time %> ></div></h4>
        <br />
    </form>

    <label for="bid">Current Bid: <%= @item.starting_bid %></label>
    <%= form_tag("/items/#{@item.id}", method: "put") do %>
      <%= label_tag :starting_bid %>
      <%= text_field_tag :starting_bid %>
      <%= submit_tag("Place Bid", class: "btn btn-primary btn-lg active") %>
      <% end %>

      <% if @item.buyout_price %>
      <div class="text-center"> Buyout Price: <%= @item.buyout_price %> </div>
      <div class="text-center", id="buyout"><%= link_to "Snap it Up", cart_path(id: @item.id, type: "buyout"), class: "btn btn-primary btn-lg active", method: :post %></div>
      <% end %>
      <%= javascript_include_tag "jquery-2.1.1.min" %>
     <%= javascript_include_tag "jquery.countdown.min" %>
     <script type="text/javascript">
       $('[data-countdown]').each(function() {
        var $this = $(this), finalDate = $(this).data('countdown');
        $this.countdown(finalDate, function(event) {
          $this.html(event.strftime('%D days %H hours %M:%S'));
        });
      });
     </script>
    </div>
  </div>
  </div>
