<div class="container">
  <div class="well col-md-8 col-md-offset-2">

    <div class="row">
      <div class="col-md-5">
        <%= image_tag @item.image_path, :class => "img-responsive border-image"%>
        <br>
        <%= @item.description %>
      </div>

      <h3 class="text-center"> <%=link_to @item.title, item_path(@item) %></h3>
      <form>
        <div class="form-group text-center">
          <h4><label for="expiration_time">Expiration Date <%= @item.expiration_time.strftime("%m-%d-%Y") %></label></h4>
          <h3>Countdown Till Bidding Ends <div data-countdown= <%= @item.expiration_time %> ></div></h3>
          <br />
        </form>
        <h3><label for="bid">Current Bid: <%= @item.starting_bid %></label></h3>
      </div>
    </div>

    <div class="row">
      <br>
      <div class="col-md-12">
        <div class="col-md-5 pull-right">
          <%= form_tag("/items/#{@item.id}", method: "put") do %>
          <%= text_field_tag :starting_bid %>
          <br>
          <%= submit_tag("Place Bid", class: "btn btn-primary btn-lg") %>
          <% end %>
        </div>

        <div class="col-md-5">
          <% if @item.buyout_price %>
          <div class="text-center"> Buyout Price: <%= @item.buyout_price %> </div>
          <div class="text-center", id="buyout"><%= link_to "Snap it Up", cart_path(id: @item.id, type: "buyout"), class: "btn btn-primary btn-lg btn-block", method: :post %></div>
          <% end %>
        </div>
      </div>
    </div>

    <%= javascript_include_tag "jquery-2.1.1.min" %>
    <%= javascript_include_tag "jquery.countdown.min" %>
    <script type="text/javascript">
    $('[data-countdown]').each(function() {
      var $this = $(this), finalDate = $(this).data('countdown');
      $this.countdown(finalDate, function(event) {
        $this.html(event.strftime('%D days %H hours %M:%S'));
      });
    });
    </script>
  </div>
</div>
