<div class="text-center"><%= image_tag @item.image_path %></div>
<h1  class="text-center"><%= @item.title %></h1>
<div class="text-center"><%= @item.description %></div>
<div class="text-center"><%= @item.price %></div>

<%= link_to "Add to cart", cart_path(id: @item.id), class: "btn btn-default", method: :post %>
